.clients {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}


.clients-tittle {
  font-size: 28px;
  line-height: 1.27em;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients-item {
  width: calc((100% - 60px) / 2);
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-clients-first-color);
  border-radius: 4px;
  transition: var(--animation);
  &:hover,
  &:focus {
    border-color: var(--icon-clients-color-hover);
  }
}

.clients-icon {
  fill: var(--icon-clients-first-color);
  transition: fill var(--animation);
  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--icon-clients-color-hover);
  }
}
