.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
 
@include mobile {
  max-width: 480px;
}
@include tablet {
  max-width: 768px;
}
@include desktop {
  max-width: 1200px;
}
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
