.features__container {
  margin-left: auto;
  margin-right: auto;

}

.features__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 480px) {
    flex-wrap: nowrap;
    flex-direction: column;
}
}

.features__item {
  flex-basis: 100%;

  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
 
  @include desktop {
    flex-basis: calc((100% - 90px) / 4);
  }
}


.features__meta {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--icon-features-background);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__tittle {
  opacity: 0;
}

.features__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 10px;

  @include mobile {
    text-align:center;
  }

  @include tablet {
    text-align:left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.features__item {
  list-style-type: none;
}
