.features__container {
  margin-left: auto;
  margin-right: auto;
}

.features__list {
  display: flex;
  display: flex;
  gap: 30px;

}

.features__meta {
  height: 120px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  margin-bottom: 30px;
  background-color: var(--icon-features-background);
  border-radius: 4px;

  @media screen and (max-width: 480px) {
  padding-right: 190px;
  padding-left: 190px;
}

}

.features__tittle {
  opacity: 0;
}

.features__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
  @media screen and (max-width: 480px) {
    text-align: center;
}
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.features__item {
  list-style-type: none;
}
