.header {
  border-bottom-color: var(--border-color-header);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header--section {
  margin-left: auto;
  margin-right: auto;
}

.page__link,
.contacts__link {
  text-decoration: none;
}

.page__link,
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}

.contacts__link {
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
}

.page__link {
  @media screen and (max-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

.page__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__link {
  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
   margin-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: 768px) {
  gap: 8px;
  }

}

.navigation .page__header {
  display: flex;
  gap: 50px;
  & .page__link--current {
    color: var(--accent-color);
    &:after {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  margin-left: 93px;
}
}

.contacts.navigation__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    display: flex;
    lex-wrap: nowrap;
    align-items: flex-start; 
    gap: 10px;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
    height: 16px;
  }
}


.menu-list .page__link--current {
  &:after {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.page__header .page__item:last-child {
  margin-right: 0;
}

.header__contacts .contacts__item + .contacts__item {
  margin-left: 0px;
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.contacts__icon {
  fill: var(--icon-contacts-color);
  transition: fill var(--animation);
  margin-right: 10px;
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (max-width: 768px) {
  margin-right: 0px;
  }
}

.contacts__icon--mail {
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
    }
}

.contacts__icon--phone {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 12px;
    }
}

.navigation {
  display: flex;
  align-items: center;
}


.header__container {
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (min-width: 768px) {
  padding-left: 15px;
  padding-right: 15px;
  }
}


.page--menu {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.page__link--current {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.page__item {
  @media screen and (max-width: 480px) {
    margin-bottom: 32px;
  }
}

.page__item,
.contacts__item {
  list-style-type: none;
}


.contacts.tablet__contacts {
@media screen and (max-width: 768px) {
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
  margin-left: 96px;
}
}

