.overlay {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-mob.jpg);

  // height: 600px;

  // background-image: linear-gradient(
  //     to right,
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../images/hero.jpg);

  //   @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   @content;
  // }

  @media screen and (max-width: 768px) {
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-tablet.jpg);
  }
  @media screen and (max-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
  }
}

.hero-container {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (max-width: 768px) {
    padding-left: 204px;
    padding-right: 204px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-tittle {
  font-size: 26px;
  line-height: 1.62;
  // width: 360px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    // width: 696px;
  }

  // @media screen and (max-width: 1200px) {
  //   font-size: 44px;
  //   line-height: 1.36;
  //   width: 696px;
  // }
}

.hero-tittle,
.hero-button {
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
}

.hero-button {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  box-shadow: var(--form-button-shadow);
  border: none;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }

}
