.overlay {

  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;

  @media screen and (max-width: 767px) {
   background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-mob.jpg);
  

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-mob-2x.jpg);
    } 
  }
    

    @media screen and (min-width: 768px) {
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-position: center;
      flex-grow: 1;
      height: 400px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg-tablet-2x.jpg);
        }
    }

   

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-desktop.jpg);

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-desktop-2x.jpg);
      }
  }
}

.hero-container {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 204px;
    padding-right: 204px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 204px;
    padding-right: 204px;
  }
}

.hero-tittle {
  flex-basis: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  
  }
 

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }

 
}

.hero-tittle,
.hero-button {
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
}

.hero-button {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  box-shadow: var(--form-button-shadow);
  border: none;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }

}
