.logo{
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  @media screen and (max-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
 }

}

.logo--begin {
  color: var(--accent-color);
}

.logo--end {
  color: var(--nav-logo-color);
}

