.logo__footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;

  @media screen and (max-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  // @media screen and (min-width: 1200px) {
  //   padding-top: 24px;
  //   padding-bottom: 25px;
  // }
}

.information__logo--begin {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

.information__logo--footer {
  color: var(--accent-color-text);
}
  