.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transition: opacity 500ms, visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 480px) {
   width: 480px;
  } 
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;


  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
   } 

}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--button-close-border);
  border-radius: 50%;

  cursor: pointer;
}

.icon-close-black {
  fill: var(--button-close-icon);
  transition: fill var(--animation);
  &:hover {
    fill: var(--accent-color);
  }
  .button-close:focus & {
    fill: var(--accent-color);
  }
}
