.portfolio-projects-link {
  text-decoration: none;
}

.portfolio-projects-item {
  list-style-type: none;
}

.portfolio-tittle {
  opacity: 0;
}


.portfolio-projects-item {
  background-color: var(--main-background-color);
}

.item-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-color-text);
  background-color: var(--projects-card-owerlay);
  transform: translateY(0);
  transition: transform var(--animation);

  .portfolio-projects-item:hover & {
    transform: translateY(-100%);
  }
}

.portfolio-projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.portfolio-projects-link {
  display: block;
  transition: var(--animation);

  &:hover,
  &:focus {
    transition: box-shadow var(--animation);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-projects-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
  transition: color var(--animation), background-color var(--animation);
}

.portfolio-projects-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
  transition: color var(--animation), background-color var(--animation);
}

.projects-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-left-color: var(--border-color-portfolio);
  border-right-color: var(--border-color-portfolio);
  border-bottom-color: var(--border-color-portfolio);
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
}

.portfolio-projects-subtitle {
  margin-bottom: 4px;
}

