.team {
  background-color: var(--team-background-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @include desktop {
    flex-wrap: nowrap;
  }
}

.team__item {  
  width: 100%;
  list-style-type: none;
  background-color: var(--accent-color-text);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}


.team__title {
  margin-bottom: 30px;
}
  
.team__name,
.team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--first-color);
}

.team__position {
  margin-bottom: 16px;
  color: var(--text-color);
}
    
.team__meta {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc__item {
  width: 44px;
  height: 44px;
}

.soc__link {
  width: 100%;
  height: 100%;
  background-color: var(--icon-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation);
  &:hover,
  &:focus {
    background-color: var(--icon-backgroud-color-hover);
  }
}

.soc__icon--team {
  fill: var(--icon-first-color);
  transition: fill var(--animation);
  .soc__link:hover &,
  .soc__link:focus & {
    fill: var(--icon-soc-color-hover);
  }
}

.team__name,
.team__position,
.team__title {
  text-align: center;
}

.team__title { 
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--first-color);

  @include desktop {
    font-size: 36px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}
