:root {
  --first-color: #212121;
  --accent-color: #2196f3;
  --accent-color-text: #ffffff;
  --hero-color: #ffffff;
  --text-color: #757575;
  --portfolio-button-color: #f5f4fa;
  --team-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;
  --main-background-color: #ffffff;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
  --nav-logo-color: #000000;
  --border-color-portfolio: #eeeeee;
  --border-color-header: #ececec;
  --icon-first-color: #afb1b8;
  --icon-background-color: FFFFFF;
  --icon-backgroud-color-hover: #2196f3;
  --icon-main-color: #ffffff;
  --icon-features-background: #f5f4fa;
  --icon-clients-first-color: #afb1b8;
  --icon-clients-color-hover: #2196f3;
  --icon-soc-color-hover: #ffffff;
  --icon-contacts-color: #757575;
  --icon-footer-color: rgba(255, 255, 255, 0.1);
  --work-box-text: rgba(47, 48, 58, 0.8);
  --projects-card-owerlay: rgba(33, 150, 243, 0.9);
  --button-close-border: #0000001a;
  --button-close-icon: #000000;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --text-form-color: #757575;
  --border-input-color: rgba(33, 33, 33, 0.2);
  --comment-color: rgba(117, 117, 117, 0.5);
  --form-button-border-hover: #188ce8;
  --send-input-color: rgba(255, 255, 255, 0.3);
  --send-input-shadow: rgba(0, 0, 0, 0.15);
  --button-active-color: #188ce8;
  --placeholder-color: rgba(255, 255, 255, 0.6);
  --form-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --soc-psevdo-color: rgba(33, 33, 33, 0.2);
  --main-font-family: Roboto, Times New Roman, Arial, Helvetica, sans-serif;
}
